SUPABASE_URL=https://qhmhylvhrdpfvwfgcotu.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFobWh5bHZocmRwZnZ3Zmdjb3R1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyMDQ4NzAsImV4cCI6MjA5NTc4MDg3MH0.n-Y4whmRGlbL-4GkLCBU-HrzJsT42n_F3gAqNH-Eti4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFobWh5bHZocmRwZnZ3Zmdjb3R1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDIwNDg3MCwiZXhwIjoyMDk1NzgwODcwfQ.HLC_X4pYC2gvL2fGXkAzdXU3Xegq3N531EOOjTDM1-M
PORT=5050
