VITE_SUPABASE_URL=https://qhmhylvhrdpfvwfgcotu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFobWh5bHZocmRwZnZ3Zmdjb3R1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyMDQ4NzAsImV4cCI6MjA5NTc4MDg3MH0.n-Y4whmRGlbL-4GkLCBU-HrzJsT42n_F3gAqNH-Eti4
VITE_API_URL=http://localhost:5050
